<section class="wrapper-lg">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blog-post">
                <div class="post-item">
                    <div class="caption wrapper-lg">
                        <h3 class="post-title">Stream, manage and enjoy your music, on any supported device, anytime and anywhere</h3>

                        <div class="post-sum">
                            <p>This is beta version of CloudPlayer.
                                <br><br>
                                Play your media collection on every supported device, ready for streaming. Create smart playlist with files from different sources.
                                <br><br>
                                Listen your music from different platforms. Your PC, Dropbox, Google Drive.
                                <br><br>
                                Have an advice? write on xxx@xxx.com

                            </p>
                        </div>
                        <div class="line line-lg"></div>
                        <div class="text-muted">
                            <i class="fa fa-user icon-muted"></i> by Admin
                            <i class="fa fa-clock-o icon-muted"></i> Dec 8, 2014
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>