<section class="scrollable">
    <div class="wrapper">
        <div class="text-center m-b m-t">
            <a href="#" class="thumb-lg">
                <img src="images/avatar.png" class="img-circle">
            </a>

            <div>
                <div class="h3 m-t-xs m-b-xs">John.Smith</div>
                <small class="text-muted"><i class="fa fa-map-marker"></i> London, UK</small>
            </div>
        </div>
        <div class="panel wrapper">
            <div class="row text-center">
                <div class="col-xs-6">
                    <a ng-click="deleteAccount()" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded">Delete an account</a>

                </div>

            </div>
        </div>

        <div class="panel wrapper">
            <div class="row text-center">
                <div class="col-xs-6">
                    Change password
                </div>

            </div>
        </div>


    </div>
</section>