<section class="wrapper-md bg-info dker">
    <div class="container aside-xl">

        <section class="m-b-lg">

            <div class="wrapper text-center">
                <strong>Sign in to get in touch</strong>
            </div>

            <form ng-submit="login()" name="loginForm" role="form">
                <div class="form-group">
                    <input type="text" data-ng-model="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control rounded input-lg text-center no-border">
                </div>
                <div class="form-group">
                    <input type="password" data-ng-model="password" placeholder="Password" class="form-control rounded input-lg text-center no-border">
                </div>
                <button type="submit" data-ng-disabled="loginForm.$invalid" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span></button>


                <div>Or sign in with:
                    <a href="" data-ng-click="loginOauth('dropbox')" ><i class="fa fa-dropbox"></i> Dropbox</a>
                    <a href="" data-ng-click="loginOauth('google')" ><i class="fa fa-google-plus-square"></i> Google</a>
                </div>


                <div class="text-center m-t m-b"><a href="#"><small>Forgot password?</small></a></div>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a href="/#/signup" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded">Create an account</a>
            </form>
        </section>
    </div>
</section>