<section  class="wrapper-md bg-info dker fill">
    <div class="container aside-xl">
        <section class="navbar-brand block" >
            <span class="h1 font-bold">Sign up</span>
        </section>
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong>Sign up to find interesting thing</strong>
            </header>
            <form ng-submit="signUp()" name="signUpForm" role="form">
                <div class="form-group">
                    <input data-ng-model="username" required  placeholder="Username" class="form-control rounded input-lg text-center no-border">
                </div>
                <div class="form-group">
                    <input data-ng-model="password" required type="password" placeholder="Password" ng-minlength="4" class="form-control rounded input-lg text-center no-border">
                </div>
                <div class="checkbox i-checks m-b">
                    <label class="m-l">
                        <input type="checkbox" required  checked=""><i></i> Agree the <a href="#">terms and policy</a>
                    </label>
                </div>

                <button type="submit" data-ng-disabled="signUpForm.$invalid"  class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded">
                    <i class="icon-arrow-right pull-right"></i>
                    <span class="m-r-n-lg">Sign up</span>
                </button>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a href="/#/signin" class="btn btn-lg btn-info btn-block btn-rounded">Sign in</a>
            </form>
        </section>
    </div>
</section>
  